body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#home-section {
  position: relative;

}

#main-section {
  background-image: url("/Images/istockphoto1.jpg");
  position: relative;
  height: 900px;
  background-size: cover;

}

#education-container {
  color: white;
  position: relative;
  display: flex;
  font-size: 20px;
  z-index: 1;
  background-color: brown;
  box-shadow: 0px 2px 5px black;
  padding-left: 10px;
}

#text-container {
  margin-left: 730px;
  margin-top: 25px;

}

button {
  padding: 8px;
  border-radius: 7px;
  font-size: 18px;
}

#red-section {
  display: flex;

}

#red1,
#red2,
#red3 {
  flex: 1;
  padding: 0px 20px;
  margin-left: 30px;
  position: relative;
}

#student-section {
  position: relative;
  padding-top: 30px;
}

#red-section {
  display: flex;
  position: relative;
}

#logo-section {
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
}

#logo-section img {
  width: 150%;
}

#logo1 {
  padding-left: 300px;
  padding-top: 30px;
}

#logo2 {
  padding-left: 400px;
  padding-top: 30px;
}

#logo3 {
  padding-left: 360px;
  padding-top: 30px;
}

#text-container2 {
  display: flex;
  text-align: center;
  font-size: 16px;
}

#first-text {
  flex: 20px;

}

#second-text {
  padding: 10px;
  flex: 20px;
}

#third-text {
  padding: 10px;
}

#single-text {
  text-align: center;
  margin-top: 20px;
  font-style: italic;

}

#single-section1 {
  display: flex;
  font-size: 14px;

}

#images-left1 {
  flex: 40%;
  margin-left: 100px;
  padding: 10px;
  padding-top: 20px;
}

#section-right2 {
  flex-direction: row;
  margin-left: 20px;
  border-radius: 10px;
  padding-top: 10px;
}

#first-forum {
  border: 1px solid grey;
  font-size: 12px;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 75%;
}

#second-forum {
  border: 1px solid grey;
  font-size: 12px;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 65%;
}

#third-forum {
  border: 1px solid grey;
  font-size: 12px;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 65%;
}

.button1 {
  font-size: 9px;
  color: white;
  padding: 5px;
  background-color: brown;
  border-radius: 10px;
  border: white;
}

.button2 {
  font-size: 9px;
  color: white;
  padding: 5px;
  background-color: brown;
  border-radius: 10px;
  border: white;
}

.button3 {
  font-size: 9px;
  color: white;
  padding: 5px;
  background-color: orange;
  border-radius: 10px;
  border: white;
}

#single-section {
  display: flex;
  font-size: 14px;
  padding: 30px;
}

#images-left {
  margin-left: 80px;
}

#images-left img {
  width: 250px;
}

#section-right {
  padding-left: 30px;
  margin-top: 50px;
  margin-left: 140px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 40%;
  height: 240px;

}

#second-container {
  display: flex;
  color: grey;
  font-size: 10px;
  text-align: center;
  padding: 20px;
}

#second-contain-left {
  flex: 40px;
  border: 1px solid grey;
  width: 30%;
  border-radius: 10px;
  height: 70px;
  margin-left: 75px;
  margin-right: 300px;

}

#single-text-second {
  margin-left: 40px;
  font-style: italic;
}

.hr-half {
  margin-right: 40%;
  margin-left: 40px;
}

#second-img-contain {
  flex: 40px;
  margin-right: 70px;
}

#second-img-contain img {
  width: 500px;
}

#last-container {
  display: flex;
  font-size: 10px;
  padding: 40px 10px;
}

#last-section {
  flex: 50px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  width: 25%;
  margin-right: 350px;
  height: 350px;
  padding: 10px;
}

#last-section h3 {
  padding: 10px;
}

#last-section-right {
  border: 1px solid grey;
  border-radius: 15%;
  background-color: brown;
  color: white;
  flex: 50px;
  padding: 20px 40px;
  margin-left: 250px;
  font-size: 14px;
}

#last-section input[type="text"] {
  width: 80%;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px;
  color: grey;
  border-top: white;
  background-color: #D3D3D3;
  text-align: center;
  font-size: 11px;
}

.last-button {
  background-color: brown;
  color: white;
  border: black;
  padding: 10px;
  border-radius: 20px;
  font-size: 10px;
  margin-top: 80px;
  width: 250px;

}

#footer-container {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#footer-text {
  display: flex;
  margin-left: 80px;
}

#footer-value-1 {
  padding-left: 20px;
}

#footer-value-2 {
  padding-left: 90px;
}

#footer-value-3 {
  padding-left: 90px;
}

#footer-value-4 {
  padding-left: 90px;
}

#footer-value-5 {
  padding-left: 90px;
}

#last-text-image {
  display: flex;
  display: inline-block;
}

#text-img-1 img {
  float: left;
  padding: 15px;
  width: 2%;
}

#text-img-1 h5 {
  float: left;
  margin-top: 20px;
}

#text-img-4 p {
  float: right;
  margin-left: 650px;
}